[submodule "includes/iworks/options"]
	path = includes/iworks/options
	url = git@github.com:iworks/wordpress-options-class.git
[submodule "includes/iworks/rate"]
	path = includes/iworks/rate
	url = git@github.com:iworks/iworks-rate.git
